{% load gci_tags %}

<div class="field {% if field.field.widget|is_checkbox %}checkbox{% endif %} {% if field.field.widget|is_date %}date{% endif %} {% if field.field.widget|is_time %}time{% endif %} {% if field.field.widget|is_datetime %}datetime{% endif %}">
    {% if field.field.widget|is_checkbox %}
        {{ field }}
    {% endif %}

    <label for={{ field.auto_id }} {% if field.errors %}class="error"{% endif %}>
        {% if not hide_label %}
            {% if not field.field.widget|is_checkbox %}
                <span>
            {% endif %}

            {{ field.label }} {% if field.field.required %}<b>*</b>{% endif %}

            {% if not field.field.widget|is_checkbox %}
                </span>
            {% endif %}
        {% endif %}
    </label>

    {% if not field.field.widget|is_checkbox %}
        {% if field.field.widget|is_date or field.field.widget|is_time%}
            <div class="row collapse postfix-radius">
                <div class="small-9 columns" {% if field.field.widget|is_date %}data-field-date{% else %}data-field-time{% endif %}>
                    {{ field }}
                </div>
                <div class="small-3 columns">
                    <span class="postfix">
                        {% if field.field.widget|is_date %}
                            <i class="fa fa-calendar fa-fw"></i>
                        {% else %}
                            <i class="fa fa-clock-o fa-fw"></i>
                        {% endif %}
                    </span>
                </div>
            </div>
        {% elif field.field.widget|is_datetime %}
            <div data-field-datetime>
                {{ field }}
            </div>
        {% else %}
            {{ field }}
        {% endif %}
    {% endif %}

    {% if field.errors %}
        <small class="error">
            {% for error in field.errors %}
                {{ error|escape }}<br />
            {% endfor %}
        </small>
    {% endif %}

    {% if not hide_help %}
        {% if field.help_text %}
            <p class="help">{{ field.help_text }}</p>
        {% endif %}
    {% endif %}
</div>
