{% load gci_tags %}{% load staticfiles %}{% spaceless %}
<!DOCTYPE html>
<html lang="ca" class="env-{{ ENV }}">
    <head>
        <link rel="shortcut icon" href="{% static "assets/icon.png" %}" />
        <meta charset="utf-8">
        <meta name="version" content="{{ VERSION }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>GestioCI{% if page_title %} – {{ page_title }}{% endif %}</title>
        <link rel="stylesheet" href="{% static "css/gestioci.css" %}"/>
        <script src="{% static "js/gestioci-head.js" %}"></script>
    </head>
    <body>
        {% block menu %}{% endblock %}

        {% if messages %}
            <div class="row messages">
                {% for message in messages %}
                    <div data-alert class="alert-box radius {% if message.tags %}{{ message.tags }}{% endif %}">
                        {% if 'info' in message.tags %}<i class="fa fa-info-circle fa-fw"></i>{% endif %}
                        {% if 'success' in message.tags %}<i class="fa fa-check fa-fw"></i>{% endif %}
                        {% if 'warning' in message.tags %}<i class="fa fa-exclamation-triangle fa-fw"></i>{% endif %}
                        {% if 'alert' in message.tags %}<i class="fa fa-exclamation fa-fw"></i>{% endif %}
                        {{ message }}
                        <a href="#" class="close">&times;</a>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        {% block body %}{% endblock %}

        <div class="row footer">
            <div class="medium-12 columns">
                <p class="small">
                    GestioCI {{ VERSION }}{% if ENV != 'production' %} ({{ ENV }}){% endif %}, CIC 2014–{% now "Y" %}
                    {% if DEBUG %}
                        <br/><a href="{% url "styleguide" %}">CSS Style Guide</a>
                    {% endif %}
                </p>
            </div>
        </div>

        <script src="{% static "js/gestioci.js" %}"></script>
        {% block javascript %}{% endblock %}
    </div>
    </body>
</html>
{% endspaceless %}
