{% load gci_tags %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head lang="ca">
        <meta charset="UTF-8">
        <title>[GestioCI]{% if page_title %} {{ page_title }}{% endif %}</title>
        <link rel="stylesheet" href="{% static "css/old.css" %}" ></link>
    </head>

    <body>
        <table class="principal-capcalera">
            <tr>
                <td id="logo">
                    <a href="{% url "inici" %}">GestioCI</a>
                </td>
                <td id="titol_a_capcalera">
                    {% block titol_a_capcalera %}{% endblock %}
                </td>
                <td id="controls_sessio">
                    {% if user.is_authenticated %}{{ user.first_name }}&nbsp;{{ user.last_name }}&nbsp;|&nbsp;<a href="{% url "logout" %}">desconnectar</a>{% endif %}
                </td>
            </tr>
        </table>

        <div id="principal_contingut">
            {% block main %}{% endblock %}
        </div>

        <div id="principal-peu">GestioCI versió {% gci_release %} &mdash; CICIC 2014-2015</div>
    </body>
</html>
