{% extends "simple.html" %}
{% load gci_tags %}

{% block titol_a_capcalera %}Conciliació manual de moviments a l'extracte bancari{% endblock %}

{% block content %}

<style>
    .ac { text-align: center; }
    .ar { text-align: right; }
</style>


<fieldset>
    <legend>Cercar moviments a l'extracte bancari</legend>

    <div class="row">
        <form method="get">
            <div class="medium-6 columns">
{#                {% form_field form.per_tipus %}#}
{#                {% form_field form.per_projecte %}#}
            </div>
            <div class="medium-6 columns">
{#                {% form_field form.per_estat %}#}
{#                {% form_field form.per_import %}#}
            </div>
            <div class="medium-12 columns">
                <button class="radius button" type="submit" name="cercar">Cercar</button>
            </div>
        </form>
    </div>
</fieldset>


<fieldset>

    {% if moviments_extracte.count %}

        <legend>{{ resultats.count }} resultat{{ resultats.count|pluralize }}</legend>

        <table>
            <thead>
            <tr>
                <th class="ac">Compte</th>
                <th class="ac">Tipus</th>
                <th class="ac">Data</th>
                <th>Concepte</th>
                <th class="ar">Import</th>
                <th class="ac">Projecte</th>
                <th class="ac">Número factura</th>
                <th class="ac">Estat</th>
            </tr>
            </thead>
            <tbody>
            {% for m in moviments_extracte %}
            <tr>
                <td class="ac">{{ m.compte }}</td>
                <td class="ac">{{ m.tipus }}</td>
                <td class="ac">{{ m.data|date:'Y-m-d' }}</td>
                <td>{{ m.concepte }}</td>
                <td class="ar">{% currency_value m.quantitat %}</td>
                {%  if m.compte_projecte %}
                    <td class="ac"><a href="{% url 'facturacio:conciliacio_manual_projecte' compte_projecte=m.compte_projecte %}">{{ m.compte_projecte }}</a></td>
                {% else %}
                    <td></td>
                {% endif %}
                {% if m.numero_factura %}
                    <td class="ac"><a href="{% url 'facturacio:conciliacio_manual_factura' numero_factura=m.numero_factura %}">{{ m.numero_factura }}</a></td>
                {% else %}
                    <td class="ac"></td>
                {% endif %}
                <td>{{ m.get_status_display }}</td>
            </tr>
            {% endfor %}
            </tbody>
         </table>

        {% else %}

            No hi ha cap moviment a l'extracte que compleixi amb aquest criteri.

        {% endif %}

</fieldset>

{%  endblock %}
