{% extends "simple.html" %}
{% load gci_tags %}

{% block titol_a_capcalera %}Conciliació automàtica de moviments a l'extracte bancari{% endblock %}

{% block content %}

<style>
    .ac { text-align: center; }
    .ar { text-align: right; }
    .match_header { background-color: #ccccff; text-align: center; }
    .observacions_ok { color:darkgreen; }
    .observacions_warning { color:darkorange; }
    .observacions_error { color:red; }
{#    tr.coincidencia { border: 1px solid black; }#}
</style>


<fieldset>
    <legend>
        {{ coincidencies|length }}
        coincidènci{{ coincidencies|length|pluralize:"a,es" }}
        clar{{ coincidencies|length|pluralize:"a,es" }}
    </legend>

    {% if coincidencies %}


        <table>

            {% for coincidencia in coincidencies %}
            {% with m=coincidencia.moviment_extracte f=coincidencia.factura observacions=coincidencia.observacions %}

        <tr><td>

            <table>
                <tr>
                    <th colspan="2" class="match_header">Moviment</th>
                    <th colspan="2" class="match_header">Factura</th>
                </tr>
                <tr>
                    <th>Compte</th><td>{{ m.compte }}</td>
                    <th>Cooperativa</th><td>{{ f.proveidor }}</td>

                </tr>
                <tr>
                    <th>Número de factura</th><td>{{ m.numero_factura }}</td>
                    <th>Número</th><td>{{ f.numero }}</td>
                </tr>
                <tr>
                    <th>Projecte</th><td>{{ m.compte_projecte }}</td>
                    <th>Projecte</th><td>{{ f.projecte }}</td>
                </tr>
                <tr>
                    <th>Concepte</th><td>{{ m.concepte }}</td>
                    <th>Client</th><td>{{ f.client }}</td>

                </tr>
                <tr>
                    <th>Import</th><td>{% currency_value m.quantitat %}</td>
                    <th>Import</th><td>{% currency_value f.import_total %}</td>
                </tr>
                <tr>
                    <th>Data</th><td>{{ m.data|date:'Y-m-d' }}</td>
                    <th>Data de venciment</th><td>{{ f.data_venciment|date:'Y-m-d' }}</td>
                </tr>
                <tr>
                    <th>Tipus</th><td>{{ m.tipus }}</td>
                    <th>Data d'emissió</th><td>{{ f.data|date:'Y-m-d' }}</td>
                </tr>
                <tr>
                    <th>Estat</th><td>{{ m.get_status_display }}</td>
                    <th>Estat</th><td>{{ f.get_estat_display }}</td>
                </tr>
                <tr>
                    <th>Comentaris</th><td>{{ m.comentaris }}</td>
                    <th>Forma de pagament</th><td>{{ f.get_forma_de_pagament_display }}</td>
                </tr>
                <tr>
                    <td colspan="3">
                        Observacions:
                        <ul>
                            {% for o in observacions %}<li class="observacions_{{ o.0 }}">{{ o.1 }}</li>{% endfor %}
                        </ul>
                    </td>
                    <td class="ac">
                        <button style="background-color:darkgreen"><i class="fa fa-fw fa-check-square"></i> conciliar moviment i factura</button><br/>
                        <button style="background-color:darkred"><i class="fa fa-fw fa-exclamation-circle"></i> descartar moviment</button>
                    </td>
                </tr>
            </table>


        </td></tr>

            {% endwith %}
            {% endfor %}

         </table>

        {% else %}

            No s'ha trobat cap coincidència clara.

        {% endif %}

</fieldset>

{%  endblock %}
