{% extends "simple.html" %}
{% load gci_tags %}

{#{% block titol_a_capcalera %}#}
{#{% endblock %}#}

{% block content %}

{# this should be above, inside titol_a_capcalera #}
<h1>Entrada d'una factura rebuda</h1>
{# end titol_a_capcalera #}

{% block explicacio_pas %}
    <div class="panel">
        <ul>
            {% if form %}
                <li>Tingueu present que <b>un <em>tiquet</em> no és una factura</b>.</li>
                <li>Trieu el proveïdor i la data d'emissió.</li>
                <li>Proveu a començar a escriure al camp de sota el NIF o el nom de l'empresa.</li>
                <li>Si no hi surt, l'haureu de <a href="{% url "facturacio:buscar_empresa" kind="proveidor" %}">buscar o donar d'alta</a>.</li>
                <li>La data de la factura ha de correspondre al trimestre en curs, o a l'anterior, si encara no està tancat.</li>
            {% else %}
                <li>No hi teniu cap proveïdor a la vostra llista; L'haureu de <a href="{% url "facturacio:buscar_empresa" kind="proveidor" %}">buscar o donar d'alta</a>.</li>
            {% endif %}
        </ul>
    </div>
{% endblock %}

{% if form %}
    <form method="POST">
        {% csrf_token %}
        {% form_field form.proveidor %}
        {% form_field form.data %}
        {% form_field form.numero %}
        <button class="radius button" type="submit">Crear factura</button>
    </form>
{% endif %}

{% endblock %}