{% extends "simple.html" %}
{% load gci_tags %}

{% block content %}
<h1>Buscar o donar d'alta un {% if tipo == 'client' %}client{% else %}proveïdor{% endif %}</h1>

{% block explicacio_pas %}
<div class="panel">
  <p>Introduïu el NIF del vostre {% if tipo == "client" %}client{% endif %}{% if tipo == "proveidor" %}proveïdor{% endif %}</p>
</div>
{% endblock explicacio_pas %}
<div class="row">
  <div class="medium-6 large-6 columns medium-centered large-centered">
    <form method="POST">
      {% csrf_token %}
      {% form_field search_form.nif %}
      <button class="radius button" name="search" type="submit">Buscar</button>
    </form>
  </div>
</div>
{% if nif %}
{% if empresas %}
<div class="row">
  <div class="medium-8 large-8 columns medium-centered large-centered">
    <h2>Resultats de la cerca:</h2>
    <br />
    <table>
      <thead>
	<tr>
	  <th>NIF</th>
	  <th>Nom Fiscal</th>
	  <th>Triar</th>
	  <th>Status</th>
	</tr>
      </thead>
      <tbody>
	{% for empresa in empresas %}
	<tr>
	  <td>{{ empresa.nif }}</td>
	  <td>{{ empresa.nom_fiscal }}</td>
	  <td>
	    {% if not empresa.pendent_de_revisio %}
	    {% if tipo == 'client' %}
	    <a href="{% url 'facturacio:crear_factura_emesa' id_client=empresa.id %}">
	    {% else %}
	    <a href="{% url 'facturacio:crear_factura_rebuda' id_proveidor=empresa.id %}">
	    {% endif %}
	    <i class="fa fa-check"></i></a>
	    {% else %}
	    <i class="fa fa-ban"></i>
	    {% endif %}
	  </td>
	  <td>
	    {% if empresa.pendent_de_revisio %}Pendent{% else %}Validada{% endif %}
	  </td>
	</tr>
	{% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% else %}
<div class="row">
  <div class="medium-8 large-8 columns medium-centered large-centered">
    <h2>Afegir una nova empresa</h2>
    <br />
    <form method="post">
      {% csrf_token %}
      {% form_field create_form.nom_fiscal %}
      {% form_field create_form.telefon %}
      {% form_field create_form.email %}
      <button type="submit" class="raidus button" name="create">Crear</button>
    </form>
  </div>
</div>
{% endif %}
{% endif %}
{% endblock content %}
