{% extends "layout.html" %}
{% load gci_tags %}

{% block content %}
    <style>
        .currency {  {# TODO this does not belong here, should be moved to global style sheet #}
            white-space: nowrap;
        }
        .currency_negative {  {# TODO this does not belong here, should be moved to global style sheet #}
            white-space: nowrap;
            color: red;
        }
    </style>

    <div class="row">
        <div class="medium-12 columns">
            <div class="groups-container" data-masonry>
                {% if user.is_authenticated %}

                    <section class="group">
                        <div class="content">
                            <h1><i class="fa fa-fw fa-balance-scale"></i> Balanç</h1>

                            <ul class="radius button-group even-2">
                                <li>
                                    <a href="{% url "facturacio:moviments" %}" class="button"><i class="fa fa-fw fa-list"></i> Consultar moviments</a>
                                </li>
                            </ul>
                            <ul class="radius button-group even-2">
                                <li>
                                    <a href="{% url "facturacio:crear_factura_emesa" %}" class="button"><i class="fa fa-fw fa-money"></i> Sol·licitar reintegrament</a>
                                </li>
                            </ul>


                            <table>
                                <tr>
                                    <th>Balanç al tancament de l'últim trimestre</th>
                                    <td class="text-right">
                                        {% if balanc_ultim_trimestre == None %}
                                            <em>N/A</em>
                                        {% else %}
                                            {% currency_value balanc_ultim_trimestre highlight_negative=True %}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th>Balanç actual</th>
                                    <td class="text-right">{% currency_value balanc_actual highlight_negative=True %}</td>
                                </tr>
                            </table>

                            <small><sup>*</sup> Valors positius al vostre favor; negatius (vermell) a favor de la cooperativa.</small>

                        </div>
                    </section>

                    <section class="group">
                        <div class="content">
                            <h1><i class="fa fa-fw fa-folder"></i> Activitat per any i trimestre</h1>

                            <ul class="radius button-group even-2">
                                <li>
                                    <a href="{% url "facturacio:crear_factura_emesa" %}" class="button"><i class="fa fa-fw fa-plus"></i> Emetre una factura</a>
                                </li>
                            </ul>
                            <ul class="radius button-group even-2">
                                <li>
                                    <a href="{% url "facturacio:crear_factura_rebuda" %}" class="button"><i class="fa fa-fw fa-plus"></i> Enregistrar factura rebuda</a>
                                </li>
                            </ul>

                            <table>
                            <thead>
                                <th class="text-center">Any</th>
                                <th class="text-center">T1</th>
                                <th class="text-center">T2</th>
                                <th class="text-center">T3</th>
                                <th class="text-center">T4</th>
                                <th class="text-center">Total</th>
                            </thead>
                            <tbody>
                                {% for y, resum in activitat.items %}
                                <tr>
                                    <td class="text-center">{{ y }}</td>
                                    {% for t, c in resum.trimestres.items %}
                                        <td class="text-center">
                                            {% if c.emeses or c.rebudes %}
                                                <a
                                                    href="{% url "facturacio:resum_facturacio_projecte" id_projecte=projecte.id %}?periode={{ y }}T{{ t }}"
                                                    title="{{ c.emeses }} emes{{ c.emeses|pluralize:"a,es" }}&#10;{{ c.rebudes }} rebud{{ c.rebudes|pluralize:"a,es" }}"
                                                        >{{ c.emeses }}&nbsp;+&nbsp;{{ c.rebudes }}</a>
                                            {% else %}
                                                &nbsp;
                                            {% endif %}
                                        </td>
                                    {% endfor %}
                                    <td class="text-center">
                                        {% with resum.total as c %}
                                        <a
                                            href="{% url "facturacio:resum_facturacio_projecte" id_projecte=projecte.id %}?periode={{ y }}"
                                            title="{{ c.emeses }} emes{{ c.emeses|pluralize:"a,es" }}&#10;{{ c.rebudes }} rebud{{ c.rebudes|pluralize:"a,es" }}"
                                                >{{ c.emeses }}&nbsp;+&nbsp;{{ c.rebudes }}</a>
                                        {% endwith %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            </table>
                        </div>
                    </section>

                {% endif %}
                {% if FLAG_GECO %}
                    {% if user.is_authenticated %}
                        {# TODO: show section only to socies AO #}
                        <section class="group green">
                            <div class="content">
                                <h1><i class="fa fa-fw fa-file-text-o"></i> Papeleos</h1>
                                <ul>
                                    <li><a href="#">Añadir factura</a></li>
                                    <li><a href="#">Añadir gasto</a></li>
                                    <li>…</li>
                                </ul>
                            </div>
                        </section>
                        {# TODO: show section only to GECO admins #}
                        <section class="group green">
                            <div class="content">
                                <h1><i class="fa fa-fw fa-money"></i> Gestió Económica</h1>
                                <p>…</p>
                            </div>
                        </section>
                    {% endif %}
                {% endif %}
                {% if FLAG_ALTA_SOCIES %}
                    {% if not user.is_authenticated %}
                        <section class="group">
                            <div class="content">
                                <h1><i class="fa fa-fw fa-pencil"></i> Fes-te soci@ de la CIC</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat.</p>
                                <p>
                                    <a href="{% url 'alta_socies:cooperatiu' %}" class="radius button expand">Formulari de inscripció soci cooperatiu</a>
                                </p>
                                <hr/>
                                <h2>Quieres hacerte socio autoocupado?</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat.</p>
                            </div>
                        </section>
                    {% endif %}
                {% endif %}
                {% if FLAG_FAQ %}
                    {% if not user.is_authenticated %}
                        <section class="group">
                            <div class="content">
                                <h1><i class="fa fa-fw fa-flag"></i> Bienvenido al portal del socio!</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat.</p>
                            </div>
                        </section>
                    {% endif %}
                    <section class="group blue">
                        <div class="content">
                            <h1><i class="fa fa-fw fa-question-circle"></i> FAQs</h1>
                            <input type="text" placeholder="Buscar…">
                        </div>
                    </section>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
