{% extends "simple.html" %}
{% load gci_tags %}

{#{% block titol_a_capcalera %}#}
{#{% endblock %}#}

{% block content %}

{# this should be above, inside titol_a_capcalera #}
<h1>Edició de la factura rebuda {{ factura.numero }}</h1>
{# end titol_a_capcalera #}

{% block explicacio_pas %}
    <div class="panel">
        <ul>
            <li>Introduïu <b>el desglossament</b> de l'IVA.</li>
            <li>Poseu un zero a la base imposable per eliminar la línia.</li>
            <li>Si us calen més línies, feu «desar» i en tindreu de noves.</li>
        </ul>
    </div>
{% endblock %}

<form method="POST">
    {% csrf_token %}

    {% form_field form.tipus_irpf %}

    {{ formset.management_form }}

    <table>
        <thead>
            <tr>
                <th colspan=2 style="display: none;">&nbsp;</th>
                <th>Tipus IVA (%)</th>
                <th>Base imposable (€)</th>
                <th>Import IVA (€)</th>
            </tr>
        </thead>
        <tbody>

            {% for form in formset %}
            <tr>
                <td style="display: none;">{% form_field form.quantitat hide_label=True hide_help=True %}</td>
                <td style="display: none;">{% form_field  form.concepte hide_label=True hide_help=True %}</td>
                <td>{% form_field  form.tipus_iva hide_label=True hide_help=True %}</td>
                <td>{% form_field  form.preu_unitari hide_label=True hide_help=True %}</td>
                <td><input type="text" id="id_{{ form.prefix }}-import_iva" style="text-align:right;" onchange="linia_modificada(event.target)"></td>

                <td style="display: none;">{{ form.id }}{{ form.DELETE }}</td>
            </tr>
            {% endfor %}

            <tr>
                <td colspan="2" style="display: none;">&nbsp;</td>
                <td>&nbsp;</td>
                <td><input type="text" id="base_total" name="base_total" style="text-align:right;" onchange="actualitzar_totals()"></td>
                <td><input type="text" id="iva_total" name="iva_total" style="text-align:right;" onchange="actualitzar_totals()"></td>
            </tr>
        </tbody>
    </table>

    <button class="radius button" type="submit" name="anem_a" value="aqui">Desar</button>
    <button class="radius button" type="submit" name="anem_a" value="seguent">Següent</button>
</form>

<script src="/static/js/eines-moneda.js"></script>

<script>

var base_total = document.getElementById('base_total');
var iva_total = document.getElementById('iva_total');
var form_prefix = '{{ formset.0.quantitat.id_for_label }}'.split('-')[0];

actualitzar_totals();

function actualitzar_totals() {

    var i = 0;
    var base = .0;
    var iva = .0;

    while(true) {
        var e_base = document.getElementById(form_prefix + '-' + i + '-preu_unitari');
        var e_iva = document.getElementById(form_prefix + '-' + i + '-import_iva');

        if(!e_base) break;

        actualitzar_total_linia(e_base);

        if(e_base.value != '') {
            base += parseFloat(e_base.value);
            iva += parseFloat(e_iva.value);
        }

        i++;
    }

    base_total.value = arrodonir_a_2_decimals(base);
    iva_total.value = arrodonir_a_2_decimals(iva);
}

function actualitzar_total_linia(element) {

    var n = element.id.split('-')[1];
    var prefix = form_prefix + '-' + n + '-';

    var f_quantitat    = document.getElementById(prefix + 'quantitat');
    var f_concepte     = document.getElementById(prefix + 'concepte');
    var f_tipus_iva    = document.getElementById(prefix + 'tipus_iva');
    var f_preu_unitari = document.getElementById(prefix + 'preu_unitari');
    var f_import_iva   = document.getElementById(prefix + 'import_iva');
    var f_delete       = document.getElementById(prefix + 'DELETE');

    f_quantitat.value = '1';
    f_concepte.value = 'conceptes al ' + f_tipus_iva.value + '% d\'IVA';
    f_tipus_iva.value = arrodonir_a_2_decimals(f_tipus_iva.value);
    f_preu_unitari.value = arrodonir_a_2_decimals(f_preu_unitari.value);
    f_import_iva.value = arrodonir_a_2_decimals(f_quantitat.value * f_preu_unitari.value * f_tipus_iva.value / 100.00);
    f_delete.checked = (f_import_iva.value == 0);

    if(f_tipus_iva.value == '0.00') { f_tipus_iva.value = ''; f_import_iva.value = ''; }
    if(f_preu_unitari.value == '0.00') { f_preu_unitari.value = ''; f_import_iva.value = ''; }

}

function linia_modificada(element) {

    actualitzar_total_linia(element);
    actualitzar_totals();

}

</script>

{% endblock %}