{% extends 'layout.html' %}
{% load gci_tags %}

{% block content %}
<div class="row">
  <div class="medium-10 columns medium-centered">
    <h1>{{ title }}</h1>
  </div>
</div>
<div class="row">
  <div class="medium-10 columns medium-centered">
    <fieldset>
      <legend> Introdueix un arxiu csv </legend>
      <form method="post" enctype="multipart/form-data">
	{% csrf_token %}
	{% non_field_errors form %}
	<div class="row">
	  <div class="medium-10 columns">
	    {% form_field form.file %}
	  </div>
	  <div class="medium-2 columns">
	    <button type="submit" class="radius success">Importar</button>
	  </div>
	</div>
      </form>
    </fieldset>
  </div>
</div>
{% endblock content %}
	
