{% extends "simple.html" %}
{% load gci_tags %}

{% block titol_a_capcalera %}Moviments al balanç actual{% endblock %}

{% block content %}

    <style>
        .currency {  {# TODO this does not belong here, should be moved to global style sheet #}
            white-space: nowrap;
        }
        .currency_negative {  {# TODO this does not belong here, should be moved to global style sheet #}
            white-space: nowrap;
            color: red;
        }
    </style>

    <h1>Moviments al balanç actual</h1>

    <table>
    <thead>
        <tr>
            <th class="text-center">Data</th>
            <th>Concepte</th>
            <th class="text-right">Import</th>
            <th class="text-right">Saldo</th>
        </tr>
    </thead>
    <tbody>

        {% if ultim_trimestre_tancat %}
        <tr>
            <td class="text-center">{{ ultim_trimestre_tancat.data_final|format_data_dia_mes }}</td>
            <td><em>Balanç al tancament del trimestre {{ ultim_trimestre_tancat }}</em></td>
            <td class="text-right">&nbsp;</td>
            <td class="text-right">{% currency_value balanc_ultim_trimestre highlight_negative=True %}</td>
        </tr>
        {% else %}
        <tr>
            <td class="text-center">&mdash;</td>{# TODO podriem mostrar la data d'inici del trimestre actual #}
            <td><em>Balanç inicial</em></td>
            <td class="text-right">&nbsp;</td>
            <td class="text-right">{% currency_value balanc_ultim_trimestre highlight_negative=True %}</td>
        </tr>
        {% endif %}

        {% for m in linies %}
        <tr>
            <td class="text-center">{{ m.data|format_data_dia_mes }}</td>
            <td>{{ m.concepte }}</td>
            <td class="text-right">{% currency_value m.quantitat highlight_negative=True %}</td>
            <td class="text-right">{% currency_value m.saldo highlight_negative=True %}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>

{% endblock %}