{% extends "simple.html" %}
{% load gci_tags %}

{% block titol_a_capcalera %}Relació de projectes autoocupats{% endblock %}

{% block content %}

    <style>
        .currency {  {# TODO this does not belong here, should be moved to global style sheet #}
            white-space: nowrap;
        }
        .currency_negative {  {# TODO this does not belong here, should be moved to global style sheet #}
            white-space: nowrap;
            color: red;
        }
    </style>

    <h1>Relació de projectes autoocupats</h1>

    <table>
    <thead>
        <tr>
            <th class="text-left">Projecte</th>
            <th class="text-right">Balanç últim trimestre</th>
            <th class="text-right">balanç trimestre actual</th>
        </tr>
    </thead>
    <tbody>

    {% for p in projectes %}

        <tr>
            <td>{{ p.instance }}</td>
            <td class="text-right">
                {% if p.balanc_ultim_trimestre == None %}
                    <em>N/A</em>
                {% else %}
                    {% currency_value p.balanc_ultim_trimestre highlight_negative=True %}
                {% endif %}
            </td>
            <td class="text-right"><a href="{% url "facturacio:moviments" p.instance.pk %}">{% currency_value p.balanc_actual highlight_negative=True %}</a></td>
       </tr>

    {% empty %}
        <tr>
            <td class="text-center"><em>No hi ha cap projecte autoocupat actiu.</em></td>
            <td colspan="2">&nbsp;</td>
        </tr>
    {% endfor %}

    </tbody>
    </table>

{% endblock %}