

{% extends "simple.html" %}
{% load gci_tags %}

{% block content %}
<h1>Llistat empresas pendents de revisió</h1>

<table>
  <thead>
    <tr>
      <th>NIF</th>
      <th>Nom Fiscal</th>
      <th>Telefon</th>
      <th>Correu-e</th>
      <th class="text-right">Modificar</th>
      <th class="text-right">Validar</th>
    </tr>
  </thead>
  <tbody>
    {% for empresa in empreses %}
    <tr>
      <td>{{ empresa.nif }}</td>
      <td>{{ empresa.nom_fiscal }}</td>
      <td>{{ empresa.telefon }}</td>
      <td>{{ empresa.email }}</td>
      <td class="text-center">
        <a href="{% url 'facturacio:modificar_empresa' empresa.pk %}"><i class="fa fa-pencil"></i></a>
      </td>
      <td class="text-center">
        <a href="{% url 'facturacio:validar_empresa' empresa.id %}"><i class="fa fa-sign-in"></i></a>
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="5" class="text-center">No hi ha cap empresa pendent de revisió</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
