{% extends "simple.html" %}
{% load gci_tags %}

{% block content %}

    <style>
        .proforma td {
            font-style: italic;
        }

        .currency {  {# TODO this does not belong here, should be moved to global style sheet #}
            white-space: nowrap;
        }
        .currency_negative {  {# TODO this does not belong here, should be moved to global style sheet #}
            white-space: nowrap;
            color: red;
        }
    </style>

    <h1>Facturació al {{ periode }} del projecte «{{ projecte.nom }}»</h1>

    <h3>Factures emeses</h3>

    {% if factures_emeses %}
        <table>
            <thead>
            <tr>
                <th>Número</th>
                <th>Data</th>
                <th>Client</th>
                <th class="text-right">Base</th>
                <th class="text-right">IVA</th>
                <th class="text-right">RE</th>
                <th class="text-right">Total</th>
            </tr>
            </thead>
            <tbody>

                {% for f in factures_emeses %}

                    <tr class="{% if not f.numero %}proforma{% endif %}">
                        <td>
                            {% if f.numero %}
                                <a href="{% url "facturacio:veure_factura_emesa" id_factura=f.id %}">{{ f.numero }}</a>
                            {% else %}
                                <em><a href="{% url "facturacio:veure_factura_emesa" id_factura=f.id %}">proforma</a></em>
                            {% endif %}
                        </td>
                        <td>{{ f.data|format_data_curta }}</td>
                        <td>{{ f.client }}</td>
                            <td class="text-right">{% currency_value f.base_total highlight_negative=True %}</td>
                            <td class="text-right">{% currency_value f.iva_total highlight_negative=True %}</td>
                            <td class="text-right">{% currency_value f.req_total highlight_negative=True %}</td>
                            <td class="text-right">{% currency_value f.import_total highlight_negative=True %}</td>
                    </tr>

                {% endfor %}

                <tr>
                    <th colspan="3" class="text-right">Totals:</th>
                    <td class="text-right">{% currency_value resum_emeses.base_total__sum highlight_negative=True %}</td>
                    <td class="text-right">{% currency_value resum_emeses.iva_total__sum highlight_negative=True %}</td>
                    <td class="text-right">{% currency_value resum_emeses.req_total__sum highlight_negative=True %}</td>
                    <td class="text-right">{% currency_value resum_emeses.import_total__sum highlight_negative=True %}</td>
                </tr>

            </tbody>
        </table>


    {% else %}

        <ul><li>No s'ha emès cap factura en aquest periode.</li></ul>

    {% endif %}


    <h3>Factures rebudes</h3>

    {% if factures_rebudes %}
        <table>
            <thead>
            <tr>
                <th>Número</th>
                <th>Data</th>
                <th>Proveïdor</th>
                <th>Base</th>
                <th>IVA</th>
                <th>IRPF</th>
                <th>Total</th>
            </tr>
            </thead>
            <tbody>

                {% for f in factures_rebudes %}

                    <tr>
                        <td><a href="{% url "facturacio:veure_factura_rebuda" id_factura=f.id %}">{{ f.numero }}</a></td>
                        <td>{{ f.data|format_data_curta }}</td>
                        <td>{{ f.proveidor }}</td>
                        <td class="text-right">{% currency_value f.base_total highlight_negative=True %}</td>
                        <td class="text-right">{% currency_value f.iva_total highlight_negative=True %}</td>
                        <td class="text-right">{% currency_value f.irpf_total highlight_negative=True %}</td>
                        <td class="text-right">{% currency_value f.import_total highlight_negative=True %}</td>
                    </tr>

                {% endfor %}

                <tr>
                    <th colspan="3" class="text-right">Totals:</th>
                    <td class="text-right">{% currency_value resum_rebudes.base_total__sum highlight_negative=True %}</td>
                    <td class="text-right">{% currency_value resum_rebudes.iva_total__sum highlight_negative=True %}</td>
                    <td class="text-right">{% currency_value resum_rebudes.irpf_total__sum highlight_negative=True %}</td>
                    <td class="text-right">{% currency_value resum_rebudes.import_total__sum highlight_negative=True %}</td>
                </tr>

            </tbody>
        </table>


    {% else %}

        <ul><li>No s'ha rebut cap factura en aquest periode.</li></ul>

    {% endif %}


{% endblock %}
