{% extends "simple.html" %}
{% load gci_tags %}

{% block content %}

    <h1>Edició de dades d'empresa</h1>

<form method="post">
  {% csrf_token %}
  {% non_field_errors form %}
  <div class="row">
    <div class="medium-6 columns">
      {% form_field form.nif %}
    </div>
    <div class="medium-6 columns">
      {% form_field form.nom_fiscal %}
    </div>
  </div>
  <div class="row">
    <div class="medium-4 columns">
      {% form_field form.telefon %}
    </div>
    <div class="medium-4 columns">
      {% form_field form.email %}
    </div>
  </div>
  <button class="radius button" type="submit">Modificar</button>
</form>
{% endblock %}

