{% load gci_tags %}
<html>
<head>
    <title>Factura {{ f.numero }}</title>
    <style>
        div { border: 1px solid black; padding: 2px; margin: 2px; }
    </style>
</head>
<body>

<h1>{{ f.proveidor.nom_fiscal }}</h1>

<div>
    {{ f.proveidor.adreca_fiscal.adreca }}<br/>
    {{ f.proveidor.adreca_fiscal.codi_postal }} {{ f.proveidor.adreca_fiscal.poblacio }}<br/>
    NIF: {{ f.proveidor.nif }}
</div>

<div>
    <table>
        <tr><th>Data</th><td>{{ f.data|format_data_factura }}</td></tr>
        <tr><th>Número</th><td>{{ f.numero }}</td></tr>
    </table>
</div>

<div>
    {{ f.client.nom_fiscal }}<br/>
    {{ f.client.adreca_fiscal.adreca }}<br/>
    {{ f.client.adreca_fiscal.codi_postal }} {{ f.client.adreca_fiscal.poblacio }}<br/>
    NIF: {{ f.client.nif }}
</div>

<div>
<table>
    <thead>
    <tr>
        <th>Quantitat</th>
        <th>Concepte</th>
        <th>Preu unitari</th>
        <th>Base imposable</th>
        <th>IVA</th>
        {% if resum_req %}<th>REQ</th>{% endif %}
    </tr>
    </thead>
    <tbody>
        {% for l in f.liniafactura_set.all %}
            <tr>
                <td>{{ l.quantitat }}</td>
                <td>{{ l.concepte }}</td>
                <td>{% currency_value l.preu_unitari %}</td>
                <td>{% currency_value l.base_total %}</td>
                <td>{{ l.tipus_iva }}&nbsp;%</td>
                {% if resum_req %}<td>{{ l.tipus_req }}&nbsp;%</td>{% endif %}
            </tr>
        {% endfor %}
        <tr>
            <th colspan="3">subtotal:</th>
            <td>{% currency_value f.base_total %}</td>
        </tr>
    </tbody>
</table>
</div>


<div>
    <table>
        <thead>
        <tr><th colspan="3">Desglossament de l'IVA</th></tr>
        <tr>
            <th>Tipus</th>
            <th>Base imposable</th>
            <th>Import</th>
        </tr>
        </thead>
        <tbody>
        {% for r in resum_iva %}
            <tr>
                <td>{{ r.tipus_iva }}&nbsp;%</td>
                <td>{% currency_value r.base_total %}</td>
                <td>{% currency_value r.iva_total %}</td>
            </tr>
        {% endfor %}
        <tr>
            <th>Subtotals</th>
            <td>{% currency_value f.base_total %}</td>
            <td>{% currency_value f.iva_total %}</td>
        </tr>
        </tbody>
    </table>
</div>

{% if resum_req %}
<div>
    <table>
        <thead>
        <tr><th colspan="3">Desglossament del recàrrec d'equivalència</th></tr>
        <tr>
            <th>Tipus</th>
            <th>Base imposable</th>
            <th>Import</th>
        </tr>
        </thead>
        <tbody>
        {% for r in resum_req %}
            <tr>
                <td>{{ r.tipus_req }}&nbsp;%</td>
                <td>{% currency_value r.base_total %}</td>
                <td>{% currency_value r.req_total %}</td>
            </tr>
        {% endfor %}
        <tr>
            <th>Subtotals</th>
            <td>{% currency_value f.base_total %}</td>
            <td>{% currency_value f.req_total %}</td>
        </tr>
        </tbody>
    </table>
</div>
{% endif %}

<div>
    <table>
        <thead>
            <tr><th colspan="2">Totals</th></tr>
        </thead>
        <tbody>
            <tr><th>Base imposable</th><td>{% currency_value f.base_total %}</td></tr>
            <tr><th>IVA</th><td>{% currency_value f.iva_total %}</td></tr>
            {% if resum_req %}
                <tr><th>Recàrrec d'equivalència</th><td>{% currency_value f.req_total %}</td></tr>
            {% endif %}
            <tr><th>Total</th><td>{% currency_value f.import_total %}</td></tr>
        </tbody>
    </table>
</div>

{% if f.data_venciment %}
    <div>
        Data de venciment: <b>{{ f.data_venciment|format_data_factura }}</b>
    </div>
{% endif %}
{% if f.proveidor.cooperativa.compte_cobrament_factures %}
    <div>
        Si us plau, feu la transferència al compte <b>{{ f.proveidor.cooperativa.compte_cobrament_factures }}</b>;
        indiqueu el número de factura <b>{{ f.numero }}</b> al concepte.
    </div>
{% endif %}

</body>
</html>
