{% extends "simple.html" %}
{% load gci_tags %}

{% block titol_a_capcalera %}Facturació per {{ tipus }} al {{ periode }}{% endblock %}

{% block content %}

    <style>
        .currency {  {# TODO this does not belong here, should be moved to global style sheet #}
            white-space: nowrap;
        }
        .currency_negative {  {# TODO this does not belong here, should be moved to global style sheet #}
            white-space: nowrap;
            color: red;
        }
    </style>

    <form method="get">
       <div class="row">
            <div class="medium-6 columns">
                {% form_field form_seleccio.cooperativa %}
            </div>
            <div class="medium-6 columns">
                {% form_field form_seleccio.periode %}
            </div>
       </div>
    </form>

    <h1>Facturació per {{ tipus }} al {{ periode }}</h1>

    <table>
    <thead>
        <tr>
            <th class="text-left">Empresa</th>
            <th class="text-right">Base</th>
            <th class="text-right">IVA</th>
            {% if tipus == 'client' %}
            <th class="text-right">REQ</th>
            {% else %}
            <th class="text-right">IRPF</th>
            {% endif %}
            <th class="text-right">Total</th>
        </tr>
    </thead>
    <tbody>

    {% for e in empreses %}

        <tr>
            <td>{{ e.instance }}</td>
            <td class="text-right">{% currency_value e.base highlight_negative=True %}</td>
            <td class="text-right">{% currency_value e.iva highlight_negative=True %}</td>
            {% if tipus == 'client' %}
            <td class="text-right">{% currency_value e.req highlight_negative=True %}</td>
            {% else %}
            <td class="text-right">{% currency_value e.irpf highlight_negative=True %}</td>
            {% endif %}
            <td class="text-right">{% currency_value e.total highlight_negative=True %}</td>
       </tr>

        {% if forloop.last %}
        <tr>
            <th>
                {{ forloop.counter }}
                {% if tipus == 'client' %}
                    client{{ forloop.counter|pluralize }}
                {% else %}
                    proveïdor{{ forloop.counter|pluralize }}
                {% endif %}
            </th>
            <th class="text-right">{% currency_value totals.base highlight_negative=True %}</th>
            <th class="text-right">{% currency_value totals.iva highlight_negative=True %}</th>
            {% if tipus == 'client' %}
            <th class="text-right">{% currency_value totals.req highlight_negative=True %}</th>
            {% else %}
            <th class="text-right">{% currency_value totals.irpf highlight_negative=True %}</th>
            {% endif %}
            <th class="text-right">{% currency_value totals.total highlight_negative=True %}</th>
        </tr>
        {% endif %}

    {% empty %}
        <tr>
            <td class="text-center"><em>No hi ha cap empresa amb facturació al periode.</em></td>
            <td colspan="4">&nbsp;</td>
        </tr>
    {% endfor %}

    </tbody>
    </table>

{% endblock %}