{% extends "simple.html" %}
{% load gci_tags %}

{% block titol_a_capcalera %}Processos d'alta de projecte autoocupat{% endblock %}

{% block content %}

<fieldset>
    <legend>Cercar processos d'alta de projecte autoocupat</legend>

    <div class="row">
        <form method="get">
            <div class="medium-6 columns">
                {% form_field form.per_responsable %}
                {% form_field form.per_nom %}
            </div>
            <div class="medium-6 columns">
                {% form_field form.per_estat %}
                {% form_field form.per_email %}
            </div>
            <div class="medium-12 columns">
                <button class="radius button" type="submit" name="cercar">Cercar</button>
            </div>
        </form>
    </div>
</fieldset>


<fieldset>

    {% if resultats.count %}

        <legend>{{ resultats.count }} resultat{{ resultats.count|pluralize }}</legend>

        <table>
            <thead>
            <tr>
                <th>Projecte</th>
                <th>F</th>
                <th>Responsable</th>
                <th>Estat</th>
                <th>Acollida</th>
                <th>Últim canvi</th>
                <th>Email projecte</th>
            </tr>
            </thead>
            <tbody>
                {% for p in resultats %}
                    <tr>
                        <td>
                            {{ p.nom }}
                        </td>
                        <td>
                            {% if p.es_firaire %}
                                F
                            {% else %}
                                {% if p.es_inclus_lleugerament_firaire %}
                                    f
                                {% endif %}
                            {% endif %}
                        </td>
                        <td>
                            {{ p.responsable.first_name }} {{ p.responsable.last_name }}
                        </td>
                        <td>
                            {% if p.resolucio == p.RESOLUCIO_EN_CURS %}
                                {% if p.responsable == user %}
                                    <a href="{% url 'alta_socies:proces_alta_projecte_autoocupat' p.id %}" class="secondary radius label" title="{{ p.get_nom_pas_actual }}">Pas {{ p.pas }}</a>
                                {% else %}
                                    <a href="{% url 'alta_socies:resum_proces_alta_projecte_autoocupat' p.pk %}" class="info radius label" title="{{ p.get_nom_pas_actual }}">Pas {{ p.pas }}</a>
                                {% endif %}
                            {% else %}
                                <a href="{% url 'alta_socies:resum_proces_alta_projecte_autoocupat' p.pk %}" class="info radius label">{{ p.resolucio }}</a>
                            {% endif %}
                        </td>
                        <td>
                            {{ p.sessio_acollida.data|date:"d M" }}</td>
                        <td>
                            {{ p.updated_at|date:"d M H:m" }}</td>
                        <td>
                            <a href="mailto:{{ p.email }}">{{ p.email }}</a>
                        </td>
                        {% if p.responsable.id == id_usuari %}
                        <td>
                            <a href="{% url 'alta_socies:rebutjar_proces' p.id %}" class="alert radius label" title="Rebutjar proces d'alta">Rebutjar</a>
                        </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% else %}

            No hi ha cap procés d'alta que compleixi amb aquest criteri.

        {% endif %}

</fieldset>

{%  endblock %}
