{% extends "layout.html" %}
{% load gci_tags %}
{% block content %}


<div class="row">

{% if 'GE' in opcions %}

    <div class="medium-6 columns">

        <fieldset>

            <legend><i class="fa fa-fw fa-users"></i>Gestió Econòmica</legend>

            <a href="{% url "dashboard_gestio_economica" %}" class="button">
                <i class="fa fa-fw fa-plus"></i> Menú de Gestió Econòmica
            </a>

        </fieldset>

    </div>

{% endif %}


{% if 'PAO' in opcions %}

    <div class="medium-6 columns">

        <fieldset>

            <legend><i class="fa fa-fw fa-users"></i>Projecte Autoocupat</legend>

            <a href="{% url "dashboard_projecte_autoocupat" %}" class="button">
                <i class="fa fa-fw fa-plus"></i> Gestió del Projecte Autoocupat
            </a>

        </fieldset>

    </div>

{% endif %}


</div>

{% endblock %}
