{% extends "layout.html" %}
{% load gci_tags %}
{% block content %}

<div class="row">
  {# bloc "processos d'alta de projecte autoocupat" #}
  {% if user|is_responsable_alta or user|is_supervisora_alta %}
  <div class="medium-6 columns">
    <fieldset>
      <legend><i class="fa fa-fw fa-users"></i> Processos d'alta de projecte autoocupat</legend>
      <ul class="radius button-group even-2">
        <li>
          <a href="{% url "alta_socies:proces_alta_projecte_autoocupat" %}" class="button">
            <i class="fa fa-fw fa-plus"></i> Començar nou procés
          </a>
        </li>
        <li>
          <a href="{% url "alta_socies:llistat_proces_alta_autoocupat" %}" class="button">
            <i class="fa fa-fw fa-list"></i> Llistat de processos
          </a>
        </li>
      </ul>
      {% if user|is_supervisora_alta %}
      <ul class="radius button-group even-2">
        <li>
          <a href="{% url "alta_socies:reassignacio_proces_alta_autoocupat" %}" class="button expand">
            <i class="fa fa-fw fa-random"></i> Reassignar responsables
          </a>
        </li>
        <li>
          <a href="{%  url "alta_socies:llistat_proces_alta_projecte_autoocupat_revisio_descripcions" %}" class="button">
            <i class="fa fa-fw fa-tasks"></i> Control de qualitat
          </a>
        </li>
      </ul>
      {% endif %}
      <ul class="radius button-group even-2">
        <li>
          <a href="{%  url "alta_socies:estadistiques_proces_alta_projecte_autoocupat" %}" class="button">
            <i class="fa fa-fw fa-tasks"></i> Estadístiques
          </a>
        </li>
      </ul>
      {% if user|is_exportador %}
      <ul class="radius button-group even-2">
        <li>
          <a href="{% url "alta_socies:exportar_a_csv" %}" class="button expand">
            <i class="fa fa-fw fa-sign-out"></i> Exportar al «Transversal»
          </a>
        </li>
      </ul>
      {% endif %}
    </fieldset>
  </div>
  {% endif %}
  {# bloc "processos d'alta de projecte autoocupat" #}
  {% if user|is_responsable_alta or user|is_supervisora_alta %}
  <div class="medium-6 columns groups-container">
    <fieldset>
      <legend><i class="fa fa-fw fa-calendar"></i> Sessions</legend>
      <ul class="radius button-group even-3">
        <li>
          <a href="#" class="disabled info button">Acollida</a>
        </li>
        <li>
          <a href="{% url "alta_socies:crear_sessio_acollida" %}" class="button"><i class="fa fa-fw fa-plus"></i> Nova</a>
        </li>
        <li>
          <a href="{% url "alta_socies:llistat_sessio_acollida" %}" class="button"><i class="fa fa-fw fa-list"></i> Llistat</a>
        </li>
      </ul>
      <ul class="radius button-group even-3">
        <li>
          <a href="#" class="disabled info button">Moneda social</a>
        </li>
        <li>
          <a href="{% url "alta_socies:crear_sessio_moneda" %}" class="button"><i class="fa fa-fw fa-plus"></i> Nova</a>
        </li>
        <li>
          <a href="{% url "alta_socies:llistat_sessio_moneda" %}" class="button"><i class="fa fa-fw fa-list"></i> Llistat</a>
        </li>
      </ul>
    </fieldset>
  </div>
  {% endif %}
</div>
<div class="row">
  {# bloc "facturació dels projectes autoocupats" #}
  {% if user|is_responsable_alta or user|is_supervisora_alta %}
  <div class="medium-6 columns groups-container">
    <fieldset>
      <legend><i class="fa fa-fw fa-calendar"></i> Facturació dels projectes autoocupats</legend>
      <ul class="radius button-group even-2">
        <li>
          <a href="{% url "facturacio:llistat_projectes_autoocupats" %}" class="button"><i class="fa fa-fw fa-list"></i> Llistat de projectes autoocupats</a><br/>
        </li>
        <li>
          <a href="{% url "facturacio:validacio_factures_rebudes" %}" class="button"><i class="fa fa-fw fa-list"></i> Validació de factures rebudes</a>
        </li>
        <li>
          <a href="{% url "facturacio:validacio_empreses" %}" class="button"><i class="fa fa-fw fa-list"></i> Validació d'empreses</a>
        </li>
      </ul>
      <ul class="radius button-group even-2">
        <li>
          <a href="{% url "facturacio:facturacio_per_proveidor" %}" class="button"><i class="fa fa-fw fa-list"></i> Facturació per proveïdor</a><br/>
        </li>
        <li>
          <a href="{% url "facturacio:facturacio_per_client" %}" class="button"><i class="fa fa-fw fa-list"></i> Facturació per client</a>
        </li>
      </ul>
    </fieldset>
  </div>
  {% endif %}
  {# bloc "importacio extractes bancaris" #}
  {% if user|is_responsable_alta or user|is_supervisora_alta %}
  <div class="medium-6 columns groups-container">
    <fieldset>
      <legend>Importació d'extractes bancaris</legend>
      <ul class="radius button-group even-2">
          <li><a href="{% url 'facturacio:importar_extracte_bancari' %}" class="button radius"><i class="fa fa-fw fa-sign-in"></i> Importar</a></li>
          <li><a href="{% url 'facturacio:llistat_moviments_descartats' %}" class="button radius"><i class="fa fa-fw fa-list"></i> Llistat descartats</a></li>
          <li><a href="{% url 'facturacio:conciliacio_automatica' %}" class="button radius"><i class="fa fa-fw fa-cogs"></i> Conciliació automàtica</a></li>
          <li><a href="{% url 'facturacio:conciliacio_manual' %}" class="button radius"><i class="fa fa-fw fa-cog"></i> Conciliació manual</a></li>
      </ul>
    </fieldset>
  </div>
  {% endif %}
</div>
<div class="row">
  {# bloc "revisio socies cooperatives" #}
  {% if user|is_responsable_alta %}
  <div class="medium-6 columns groups-container">
    <fieldset>
      <legend>
	Sòcies Cooperatives pendents de revisió
      </legend>
      <ul class="radius button-group even-3">
	<li>
	  <a href="{% url 'alta_socies:llistat_socies_pendents_euro' %}" class="button">
	    Paga en euros
	  </a>
	</li>
	<li>
	  <a href="{% url 'alta_socies:llistat_socies_pendents_eco' %}" class="button">
	    Paga en ecos
	  </a>
	</li>
	<li>
	  <a href="{% url 'alta_socies:llistat_socies_pendents_temp' %}" class="button">
	    Paga en hores
	  </a>
	</li>
      </ul>
    </fieldset>
  </div>
  <div class="medium-6 columns groups-container">
    <fieldset>
      <legend>
	Projectes Col·lectius pendents de revisió
      </legend>
      <ul class="radius button-group even-3">
	<li>
	  <a href="{% url 'alta_socies:llistat_projectes_pendents_euro' %}" class="button">
	    Paga en euros
	  </a>
	</li>
	<li>
	  <a href="{% url 'alta_socies:llistat_projectes_pendents_eco' %}" class="button">
	    Paga en ecos
	  </a>
	</li>
	<li>
	  <a href="{% url 'alta_socies:llistat_projectes_pendents_temp' %}" class="button">
	    Paga en hores
	  </a>
	</li>
      </ul>
    </fieldset>
  </div>
  {% endif %}
</div>
{% endblock %}
