{% extends "layout.html" %}
{% load gci_tags %}
{% block content %}


<div class="row">
  <div class="medium-6 columns medium-centered large-centered">
    <h1>Benvinguda a la CIC!</h1>
  </div>
</div>
<div class="row">
  <div class="medium-12 columns">
    <fieldset>
      <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
      </p>
    </fieldset>
  </div>
</div>
<div class="row">
  <div class="medium-12 columns">
    <fieldset>
      <legend><i class="fa fa-fw fa-star"></i>
	Vols fer-te'n socia?
      </legend>
      <ul class="button-group even-3 round">
	<li>
	  <a href="{% url "alta_socies:alta_socia_cooperativa" '0' %}" class="info button">
	    Socia de la Cooperativa
	  </a>
	</li>
	<li>
	  <a href="#" class="info button">
	    Projecte Col·lectiu
	  </a>
	</li>
	<li>
	  <a href="#" class="info button">
	    Projecte Autoocupat
	  </a>
	</li>
      </ul>
    </fieldset>
  </div>
</div>
      
{% endblock %}
