html {
    background-color: $snow;
}

body {
    background-color: transparent;
}

html.env-staging {
    background: $snow url(/static/assets/staging-bg.png) repeat;
}

.content {
    background-color: $white;
    border-radius: $global-radius;
    margin: $half-padding 0 $half-padding;
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.3);
}

.content.menu {
    background-color: $topbar-bg-color;

    .top-bar {
        background-color: transparent;
    }

    .wrapper {
        margin-left: -$half-columns-gutter;
        margin-right: -$half-columns-gutter;

        nav {
            margin-left: 0;

            h1 {
                font-size: 1.2em;
                letter-spacing: .1em;
                text-transform: uppercase;
                margin-top: 0;

                a {
                    font-weight: 300;
                }
            }
        }

        .top-bar {
            .button, a {
                &:hover {
                    background-color: darken($primary-color, 5%);
                }
            }

            .top-bar-section {
                .right {
                    margin-right: $quarter-padding;
                }

                .login {
                    margin-right: $half-padding;
                }

                li a:not(.button) {
                    &:hover {
                        background: $primary-color;
                    }
                }
            }
        }
    }
}

.groups-container {
    margin-left: -$half-columns-gutter - $half-padding;
    margin-right: -$half-columns-gutter - $half-padding;

    .group {
        width: 50%;

        .content {
            padding: $quarter-padding $half-columns-gutter $half-columns-gutter;
            margin: $half-padding;

            h1 {
                i {
                    opacity: 0.7;
                }

                //text-transform: uppercase;
                font-size: 1.1rem;
                letter-spacing: .1em;
                font-weight: 300;
                line-height: 1.3em;
                background-color: #efeade;
                padding: $quarter-padding $half-columns-gutter;
                margin-top: -$quarter-padding;
                margin-left: -$half-columns-gutter;
                margin-right: -$half-columns-gutter;
                margin-bottom: $half-columns-gutter;
                border-radius: $global-radius $global-radius 0px 0px;
            }

            h2, h3, h4, h5, h6 {
                font-size: $h6-font-size;
            }

            & :last-child {
                margin-bottom: 0;

                ul, a, li, img {
                    margin-bottom: 0;
                }
            }
        }

        &.red { h1 { background-color: #f7dddd; } }
        &.green { h1 { background-color: #eff7dd; } }
        &.blue { h1 { background-color: #dee9ef; } }
        &.purple { h1 { background-color: #efddf7; } }
        &.yellow { h1 { background-color: #fbf9dd; } }
        &.cyan { h1 { background-color: #ddf7f6; } }
    }
}

.footer {
    margin-top: $base-padding * 2;
    color: $steel;
    text-align: center;
    margin-bottom: 5em;
}
