{%  extends "gci.html" %}

{% block main %}
<h1>Assignació de cites per alta de projecte autoocupat</h1>
<form name="cita_nou_projecte_autoocupat" method="POST">{% csrf_token %}

    <table>
        {{ form_projecte.as_table }}
        {{ form_cites.as_table }}
    </table>

    <input type="submit" value="enregistrar">

</form>

{% endblock %}
