{% extends 'layout.html' %}
{% load gci_tags %}

{% block content %}
<div class="row">
  <div class="medium-10 columns">
    <h1>{{ title }}</h1>
    <p> Cuan validis, haurás donat per entredit que el projecte ha pagat la quota d'alta i que les dades son valides </p>
  </div>
</div>
<div class="row">
  <div class="medium-12 columns">
    <fieldset>
      <legend>
	Dades del projecte
      </legend>
      <div class="row">
	<div class="medium-3 columns">
	  <strong>Nom: </strong><p>{{ projecte.nom }}</p>
	</div>
	<div class="medium-3 columns">
	  <strong>Website: </strong><p>{{ projecte.website }}</p>
	</div>
	<div class="medium-3 columns">
	  <strong>Email: </strong><p>{{ projecte.email }}</p>
	</div>
	<div class="medium-3 columns">
	  <strong>Telefon: </strong><p>{{ projecte.telefon }}</p>
	</div>
      </div>
      <div class="row">
	<div class="medium-3 columns">
	  <strong>Descripcio: </strong><p>{{ projecte.descripcio }}</p>
	</div>
	<div class="medium-3 columns">
	  <strong>Adreça: </strong><p>{{ projecte.adreca.adreca }}</p>
	</div>
	<div class="medium-3 columns">
	  <strong>Tipus: </strong><p>{{ projecte.get_tipus_projecte_display }}</p>
	</div>
	<div class="medium-3 columns">
	  <strong>Cobertura legal: </strong><p>{{ projecte.necessita_cobertura_legal }}</p>
	</div>
      </div>
      <div class="row">
	<div class="medium-3 medium-centered columns">
	  <strong>Forma de pagament: </strong><p>{{ projecte.get_quota_alta_forma_pagament_display }}</p>
	</div>
      </div>
    </fieldset>
  </div>
</div>
<div class="row">
  <div class="medium-12 columns">
    <fieldset>
      <legend>
	Dades mancants
      </legend>
      <div class="row">
	<div class="medium-3 columns medium-centered">
	  <form method="post">
	    {% csrf_token %}
	    {% non_field_errors form %}
	    {% form_field form.compte_CES_assignat %}
	    <button type="submit" class="radius success">Validar</button>
	  </form>
	</div>
      </div>
    </fieldset>
  </div>
</div>
{% endblock content %}

	  
      
