{% extends 'simple.html' %}
{% load gci_tags %}

{% block content %}
<div class="row">
  <div class="medium-10 large-10 columns large-centered medium-centered">
    <h1>{{ title }}</h1>
    <h3>{{ descripcio }}</h3>
  </div>
</div>
<div class="row">
  <div class="medium-10 columns medium-centered large-centered">
    {% if pas_actual != "2" %}
    <form method="post">
      {% csrf_token %}
      {% non_field_errors form %}
      {% if pas_actual == "0" %}
      <div class="row">
	<div class="medium-3 columns">
	  {% form_field form.nom %}
	</div>
	<div class="medium-3 columns">
	  {% form_field form.cognom1 %}
	</div>
	<div class="medium-3 columns">
	  {% form_field form.cognom2 %}
	</div>
	<div class="medium-3 columns">
	  {% form_field form.pseudonim %}
	</div>
      </div>
      <div class="row">
	<div class="medium-6 columns">
	  {% form_field form.email %}
	</div>
	<div class="medium-6 columns">
	  {% form_field form.telefon %}
	</div>
      </div>
      <div class="row">
	<div class="medium-6 columns">
	  {% form_field form.tipus_document %}
	</div>
	<div class="medium-6 columns">
	  {% form_field form.document %}
	</div>
      </div>
      <div class="row">
	<div class="medium-6 columns">
	  {% form_field form.te_compte_integral_ces %}
	</div>
	<div class="medium-6 columns">
	  {% form_field form.compte_integral_ces %}
	</div>
      </div>
      {% endif %}
      {% if pas_actual == "1" %}
      <div class="row">
	<div class=" medium-4 medium-centered columns">
	  {% form_field form.cuota_alta %}
	</div>
	{{ form.te_compte_integral_ces }}
      </div>
      <div class="row">
	<div class="medium-6 columns">
	 {% form_field form.habilitats %}
	</div>
	<div class="medium-6 columns">
	  {% form_field form.contribucions %}
	</div>
      </div>
      <div class="row">
	<div class="medium-10 columns">
	  {% form_field form.detalls_habilitats %}
	</div>
      </div>
      {% endif %}
      <button type="submit" class="success radius">Validar</button>
    </form>
    {% endif %}
    {% if pas_actual == "2" %}
    <form method="post" id="summary-form">
      {% csrf_token %}
      {% non_field_errors form %}
	<div class="row">
	  <div class="medium-3 columns">
	    {% form_field form.nom %}
	  </div>
	  <div class="medium-3 columns">
	    {% form_field form.cognom1 %}
	  </div>
	  <div class="medium-3 columns">
	    {% form_field form.cognom2 %}
	  </div>
	  <div class="medium-3 columns">
	    {% form_field form.pseudonim %}
	  </div>
	</div>
	<div class="row">
	  <div class="medium-3 columns">
	    {% form_field form.email %}
	  </div>
	  <div class="medium-3 columns">
	    {% form_field form.telefon %}
	  </div>
	  <div class="medium-3 columns">
      	    {% form_field form.tipus_document %}
	  </div>
	  <div class="medium-3 columns">
	    {% form_field form.document %}
	  </div>
	</div>
	<div class="row">
	  <div class="medium-4 columns">
	    {% form_field form.compte_integral_ces %}
	  </div>
	  <div class="medium-4 columns">
	    {% form_field form.cuota_alta %}
	  </div>
	  <div class="row">
	    <div class="medium-6 columns">
	      {% form_field form.habilitats %}
	    </div>
	    <div class="medium-6 columns">
	      {% form_field form.contribucions %}
	    </div>
	  </div>
	  <div class="row">
	    <div class="medium-10 columns">
	      {% form_field form.detalls_habilitats %}
	    </div>
	  </div class="row">
	</div>
      <button type="submit" class="radius success">Validar</button>
    </form>
    {% endif %}
  </div>
</div>
<script>
  var form = document.getElementById("summary-form");
  var elements = form.elements;
  for (var i = 0, len = elements.length; i < len; ++i) {
					     elements[i].readOnly = true;
					     }
  function toggleDiv(divId) {
  $("#"+divId).toggle(500);
  }
</script>

{% endblock content %}
