{% extends 'layout.html' %}
{% load gci_tags %}

{% block content %}
<div class="row">
  <div class="medium-10 large-10 columns">
    <h1>{{ title }}</h1>
    <h3>{{ descripcio }}</h3>
  </div>
</div>
<br />
<div class="row">
  <div class="medium-12 large-12 columns">
    <form method="post">
      {% csrf_token %}
      {% non_field_errors form %}
      <fieldset>
	<div class="row">
	  <div class="medium-12 columns">
	    {% form_field form.membre_de_referencia %}
	  </div>
	</div>
      </fieldset>
      <fieldset>
	<div class="row">
	  <div class="medium-12 columns">
	    <p> La diferencia entre els diferents tipus de projecte es: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
	  </div>
	</div>
	<div class="row">
	  <div class="medium-12 columns">
	    {% form_field form.tipus_projecte %}
	  </div>
	</div>
      </fieldset>
      <fieldset>
	<legend>
	  Quota d'alta i cobertura legal
	</legend>
	<div class="row">
	  <div class="medium-6 columns">
	    {% form_field form.formes_pagament_quota_alta %}
	  </div>
	  <div class="medium-6 columns">
	    {% form_field form.necessita_cobertura_legal %}
	  </div>
	</div>
      </fieldset>
      <fieldset>
	<button type="submit" class="success radius right">Segueix</button>
      </fieldset>
    </form>
  </div>
</div>
{% endblock content %}
