{% extends 'layout.html' %}

{% block content %}
<div class="row">
  <div class="medium-10 columns">
    <h1>{{ view.title }}</h1>
  </div>
</div>
<div class="row">
  <div class="medium-12 columns">
    {% if projectes %}
    <table>
      <thead>
	<tr>
	  <th>Nom del projecte</th>
	  <th>Correu electronic</th>
	  <th>Membre de referencia</th>
	  <th>Validat ?</th>
	</tr>
      </thead>
      <tbody>
	{% for projecte in projectes %}
	<tr>
	  <td>{{ projecte.nom }}</td>
	  <td>{{ projecte.email }}</td>
	  <td>{{ projecte.membre_de_referencia }}</td>
	  <td>{{ projecte.es_validat }}</td>
	</tr>
	{% endfor %}
      </tbody>
    </table>
    {% endif %}
    <p> No ets membre de referencia de cap projecte. </p>
  </div>
</div>
{% endblock content %}
