{% extends "simple.html" %}
{% load gci_tags %}

{% block content %}
    <h1>{{ view.title }}</h1>
    <table>
        <thead>
            <tr>
                <th colspan="2">Data</th>
                <th>Ubicacio</th>
                <th>Duració</th>
                <th>Responsable</th>
                <th class="text-right">Accions</th>
            </tr>
        </thead>
        <tbody>
            {% for sessio in sessions %}

                {% ifchanged sessio.data.year sessio.data.month %}
                    <tr>
                        <td colspan="2" style="height:3px; margin:0px; padding:0px;background-color:yellowgreen;"></td>
                        <th colspan="4" style="height:3px; margin:0px; padding:0px;background-color:yellowgreen;"></th>
                    </tr>
                    <tr><th colspan="6" style="background-color:#c5eebc;">{{ sessio.data|format_data_mes_i_any }}</th></tr>
                {% endifchanged %}

                {% ifchanged sessio.data.year sessio.data.month sessio.data.day %}
                    <tr>
                        <td colspan="2" style="height:3px; margin:0px; padding:0px;background-color:yellowgreen;"></td>
                        <th colspan="4" style="height:3px; margin:0px; padding:0px;background-color:yellowgreen;"></th>
                    </tr>
                {% endifchanged %}

                <tr>
                    {% ifchanged sessio.data.year sessio.data.month sessio.data.day %}
                    <td class="text-right">{{ sessio.data|format_data_dow_dom }}</td>
                    {% else %}
                    <td>&nbsp;</td>
                    {% endifchanged %}

                    <td class="text-right">{{ sessio.data|format_hora_hh_mm }}</td>
                    <td>{{ sessio.ubicacio }}</td>
                    <td>{{ sessio.duracio }}&#39;</td>
                    <td>{{ sessio.responsable_alta }}</td>
                    <td class="text-right">
                        {% if sessio.is_in_future %}
                            <a href="{% url view.edit_url sessio.pk %}"><i class="fa fa-pencil"></i> Editar</a>
                        {% endif %}
                    </td>
                </tr>
                {% if forloop.last %}
                <tr>
                    <td colspan="2" style="height:3px; margin:0px; padding:0px;background-color:yellowgreen;"></td>
                    <th colspan="4" style="height:3px; margin:0px; padding:0px;background-color:yellowgreen;"></th>
                </tr>
                {% endif %}
            {% empty %}
                <tr>
                    <td colspan="5" class="text-center">No hi ha cap sessió</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
